* {
/*	cursor: url(../../css/img/cursor.png), auto;
*/	padding: 0px;
	border: 0;
}

/*fazendo imports da letras que serão usadas*/
@import url(http://fonts.googleapis.com/css?family=Homenaje);

/*fazendo reset de margin e padding da pagina toda*/
* {
	margin: 0;
	padding: 0;
}
/* definindo background para a página isso foi feito inicialmente nessa pagina
 mas vai ser usado em todas as outras
 */
body {
	background-image: url('img/selected.gif');
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: 'Homenaje', sans-serif;
	color: black;
}
a{
	text-decoration: none;
	color: black;
}
/*propriedades do cabeçalho*/
#header {
	width: 100%;
	height: 20%;
	display: inline-block;
	background-image: url("img/header.gif");
	background-size: 100%;
}
#init {
	clear: both;
	display: inline-block;
	margin-left: 5px;
}
#title {
	width: 94.5%;
	display: inline-block;
	text-align: center;
}
#init label {
	display: block;
}
#init-img {
	background-image: url('img/icon_init.png');
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
}

#form {
	width: 53%;
	padding: 10px;
	margin: 0 auto;
}

input[type=text] {
	display: block;
	margin: 0 auto;
	width: 180px;
}
legend {
	width: 180px;
	text-align: center;
}
label {
	width: 200px;
}
.label {
	width: 60px;
	margin: 0 auto;
}
input[type=submit], input[type=reset] {
	width: 60px;
	margin-left: 10px;
}
.botoes {
	width: 150px;
	padding-top: 10px;
	margin: 0 auto 10px;
}

#table {
	width: 1345px;
	margin:0 auto;
}
table, td, th{
	
	border: solid 1px #000;
}
td,th{
	width:400px;	
}
th {
	background-color: #999;
}
caption {
	font-size: x-large;
}
colgroup {
	background: #F60;
}
.btn {
	border: 0px;
	width:60px;
	display: inline-block;
	border-radius: 2px;
	color: #fff;
}
.btn-danger{
	background-color: red;
}
.btn-success{
	background-color: green;
}
#div-total{
	width: 200px;
	margin: 0 auto;
}